<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @static_page.title %>
</p>

<p>
  <b>Content:</b>
  <%= @static_page.content %>
</p>


<%= link_to 'Edit', edit_static_page_path(@static_page) %> |
<%= link_to 'Back', static_pages_path %>
